body {
  font-family: sans-serif;
  transition: background-color 0.4s;
  background-color: #e0f2f1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /*---------------------------------------------------------------------------------------------*/
  top: 0;
  left: 0;
  background-color: #008080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav img {
  width: 120px;
  padding: 0px;
  margin: 0px;
}
.sidenav a {
  padding: 2px 8px 2px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 20px;
}

#navigation {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
}

#navigation hr {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid white;
  background-color: #ffffff;
}

.seprater {
  background-color: #008080;
}

#navigation .menu img {
  height: 22px;
  width: 22px;
  margin: 10px;
}

#main {
  position: fixed;
  transition: margin-left 0.5s;
  padding: 5px 10px 0px 10px;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

.topbar {
  text-align: center;
  color: #ffffff;
}

.bgimage {
  position: fixed;
  z-index: 1;
  background-image: url(../res/topbar.png);
  background-size: cover;
  padding: 7px;
  margin: 0px;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.search img {
  width: 90%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #008080;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #008080;
  background: #008080;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap {
  width: 90%;
}

/*Resize the wrap to see the search bar change!*/

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*all-body class css is used to help the page turn 
black when navbar is open and turn normal when touched or 
close navbar function is called*/
.allbody {
  position: fixed;
  width: 0%; /*changable value*/
  opacity: 90%;
  top: 0px;
  left: 0px;
}
.allbody img {
  height: max-content;
}
/*Secton 3 code-----------------*/

/*Margin adjustment*/
.margin-adj {
  margin-top: 110px;
}

#cart .cart-card {
  margin: 15px 0px 7px 0px;
  padding: 5px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #707070;
  box-shadow: 2px 2px 1px 0px #cacaca;
  background-color: #fff;
}

#cart h5 {
  font-weight: bold;
  margin: 3px 2px 0px 5px;
}
#cart h6 {
  margin: 8px 0px 0px 2px;
  color: #008080;
}
#cart strong {
  margin: 0px;
}
#cart p {
  margin: 0px;
  line-height: 1.4;
}
#cart textarea {
  width: 100%;
  border-radius: 5px;
}
#cart .quantity-control-btn {
  margin: 0px 0px 5px 10px;
}
#cart .quantity-control-btn button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid #707070;
  text-shadow: 0px 0px 0px transparent;
  font-size: 1em;
  font-weight: bold;
}
#cart .quantity-control-btn p {
  margin: 0px 0px 0px 0px;
  padding: 3px 4px 0px 4px;
  border: 1px solid #707070;
}
#cart .quantity-control-btn .left {
  border-radius: 5px 0px 0px 5px;
  padding: 0px 7px;
}
#cart .quantity-control-btn .right {
  border-radius: 0px 5px 5px 0px;
}
#cart .quantity-control-btn h6 {
  color: #000000;
  position: absolute;
  right: 15px;
  bottom: 5px;
}
#cart hr {
  margin-top: 10px;
  margin-bottom: 5px;
}
#cart .total-div h6 {
  color: #000000;
  text-align: right;
  margin: 0px;
}
#cart .total-div-btn {
  margin: 5px 0px 15px 0px;
  text-align: end;
}
#cart .total-div-btn button {
  background-color: #008080;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid #707070;
  border-radius: 0px 20px 20px 20px;
  text-shadow: 0px 0px 0px transparent;
  font-size: 1em;
  font-weight: bold;
}
#cart .submit {
  margin: -7px 0px 0px 0px;
  border: none;
  background-color: #ffffff;
  color: #008080;
  font-size: 0.8em;
  padding: 0px;
}
#cart textarea {
  margin-bottom: 0px;
}
